<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<link rel="stylesheet" href="../lib/datainput.css" />
<link rel="stylesheet" href="assets/index.css" />
<script src="../lib/datainput.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../lib/vue-datainput.js"></script>
</head>
<body>

<h1>With Vue.js</h1>

<div id="app">

<table>
  <tr><td class="header"></td><td><input type="text" placeholder="input:text" /></td></tr>

  <tr><td class="header">Zip (Postal) Code</td>
    <td><datainput format="00000" v-model="zipCodeIn" ></datainput></td>
    <td>{{JSON.stringify(zipCodeIn)}}</td></tr>

  <tr><td class="header">Date</td>
    <td><datainput format="0000/00/00" text-align="right" v-model="dateIn1"
          :field-names="['year','month','date']" ></datainput></td>
    <td>{{JSON.stringify(dateIn1)}}</td></tr>

  <tr><td class="header">Date(20XX)</td>
    <td><datainput format="2099/99/99" text-align="right" field-re="9+" field-input-re="\d+"
          v-model="dateIn2" :field-names="['year','month','date']" ></datainput></td>
    <td>{{JSON.stringify(dateIn2)}}</td></tr>

  <tr><td class="header">Date(ja)</td>
    <td><datainput format="0000年00月00日" text-align="right" :num-chars-in-monospace="{ 年:2,月:2,日:2 }"
          v-model="dateInJa" :field-names="['year','month','date']" ></datainput></td>
    <td>{{JSON.stringify(dateInJa)}}</td></tr>

  <tr><td class="header">Card Number</td>
    <td><datainput format="0000-0000-0000-0000" v-model="cardNoIn" ></datainput></td>
    <td>{{JSON.stringify(cardNoIn)}}</td></tr>

  <tr><td class="header">Some Code(Alp|Num)</td>
    <td><datainput format="00-0-00-000" field-re="\w+" v-model="someCodeIn" ></datainput></td>
    <td>{{JSON.stringify(someCodeIn)}}</td></tr>

  <tr><td class="header"></td><td><input type="text" placeholder="input:text" /></td></tr>
</table>

</div>

<script>

new Vue({
  el : '#app',
  data : {
    zipCodeIn : [],
    dateIn1 : {},
    dateIn2 : {},
    dateInJa : {},
    cardNoIn : [],
    someCodeIn : []
  },
  mounted : function() {
  }
});

</script>

</body>
</html>
